* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
}

/* header section */
header {
    padding: 50px 0px;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    background-color: dodgerblue;
    padding: 10px 10px 10px 50px;
}    

nav {
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header a {
    display: inline-block;
    padding: 5px;
    border-bottom: 4px solid dodgerblue;
    margin: 10px;
    color: dodgerblue;
}

/* main section */
/* top banner */
.imagecontainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("./images/topbanner.png");
    background-size: contain;
    height: 200px;
    padding: 30px;
}

.imagecontainer span {
    background-color: lightblue;
    padding: 5px;
    border: 2px solid slategray;
    font-weight: bolder;
}

/* margining and headers for sections within main plus footer */
#aboutme {
    margin-right: 20px;
}

#aboutme, footer {
    display: flex;
    margin-top: 20px;
}

#work {
    display: flex;
    margin-top: 20px;
    flex: 5 5 50vw;
}

#aboutme h2, #work h2, footer h2 {
    min-width: 20vw;
    text-align: right;
    margin-right: 15px;
    padding: 10px;
    border-right: 5px solid slategray;
    color: slategray;
}

/* work section */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 78vw;
}

.projectitem {
    display: flex;
    align-items: flex-end;
    min-height: 200px;
    flex: 1 1 30vw;
    margin: 20px 20px 20px 0px;
    border: 5px solid slategray;
    background-size: cover;
}

#projectone {
    flex: 1 1 800px;
    background-image: url(./images/projectimages/athletictrainingquiz.png);
}

#projecttwo {
    background-image: url(./images/projectimages/passwordgenerator.png);
}

#projectthree {
    background-image: url(./images/projectimages/rockpaperscissors.png);
}

#projectfour {
    background-image: url(./images/projectimages/portfolioprojectgithub.png);
}

#projectfive {
    background-image: url(./images/projectimages/coderefactor.png);
} 

.projectitem div {
    border: 2px solid slategray;
    background-color: lightblue;
    padding: 7px;
    margin: 5px 5px 5px -2px;
    text-align: right;
}

.projectitem code {
    color: slategray;
}

/* footer section */
footer {
    background-color: whitesmoke;
}

address {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 78vw;
    padding: 0px 20px 20px 0px;
}

address a {
    margin: 20px;
    border-bottom: 3px solid slategray;
    padding: 5px;
    color: slategray;
}

/* pseudo-class */
.projectitem:hover {
    box-shadow: 10px 10px;
    filter: opacity(0.7);
}


/* media screens */
@media screen and (max-width: 872px) {
    header {
        padding: 0;
    }

    header h1 {
        width: 100vw;
        height: 10vh;
        padding-top: 20px;
        text-align: center;
        padding-left: 0px;
    }

    nav {
        width: 100vw;
        margin-right: 0px;
    }

    .imagecontainer {
        justify-content: center;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 831px) {
    .projectitem {
        flex: 1 1 70vw;
    }
    
    address {
        flex-direction: column;
        min-width: 80vw;
    }
}

@media screen and (max-width: 576px) {

    #aboutme, #work, footer {
        flex-wrap: wrap;
    }

    #aboutme h2, #work h2, footer h2 {
        border-right: none;
        border-bottom: 5px solid slategray;
        margin-bottom: 20px;
        margin-left: 15px;
        text-align: center;
    }

    #aboutme p, .projects {
        margin-left: 15px;
    }

    address {
        min-width: 100vw;
        padding-right: 0px;
    }

}

@media  and (max-width: 770px) {
    
}

@media screen and (max-width: 444px) {
    header h1 {
        height: 20vh;
    }

}