* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
}

header {
    padding: 50px 0px;
    background: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    background-color: dodgerblue;
    padding: 5px 5px 5px 50px;
}    

nav {
    margin-right: 30px;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header a {
    display: inline-block;
    padding: 5px 10px;
    border-bottom: 4px solid dodgerblue;
    margin: 10px;
    color: dodgerblue;
}

.imagecontainer {
    display: flex;
    background-image: url("./images/top\ banner.png");
    background-size: contain;
    height: 200px;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px;
}

.imagecontainer span {
    background-color: lightblue;
    padding: 5px;
    border: 2px solid slategray;
    font-weight: bolder;
}

#aboutme, footer {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
}

#work {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
}

#aboutme h2, #work h2, footer h2 {
    min-width: 20vw;
    text-align: right;
    margin-right: 15px;
    padding: 10px;
    border-right: 5px solid slategray;
    color: slategray;
}

#work {
    background-color: lightcyan;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aqua;
    min-width: 78vw;
}

.projectitem {
    display: flex;
    align-items: flex-end;
    min-height: 200px;
    min-width: 50vw;
    flex: 1 1 400px;
    margin: 20px;
    border: 5px solid slategray;
    /* background-size: cover; */
}

.projectitem img {
    min-height: 200px;
    width: 100vw;
}

.projectitem div {
    border: 2px solid slategray;
    background-color: lightblue;
    padding: 3px;
    margin: -400px;
    text-align: right;
    z-index: 5;
}

/* #projecttwo {
    background-image: url(http://placekitten.com/450/200);
}

#projectthree {
    background-image: url(http://placekitten.com/475/300);
}

#projectfour {
    background-image: url(http://placekitten.com/450/240);
}

#projectfive {
    background-image: url(http://placekitten.com/450/250);
} */

.projectitem code {
    color: slategray;
}

address {
    display: flex;
    background-color: lightskyblue;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 78vw;
}

address a {
    margin: 20px;
    border-bottom: 3px solid slategray;
    padding: 5px;
    color: slategray;
}

.projectitem:hover {
    filter: sepia (50%);
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 576px) {
    header {
        padding: 0;
    }

    header h1 {
        width: 100vw;
        height: 10vh;
        padding-top: 20px;
    }

    header nav {
        width: 100vw;
    }

    #aboutme, #work, footer {
        flex-wrap: wrap;
    }

    #aboutme h2, #work h2, footer h2 {
        border-right: none;
        border-bottom: 5px solid slategray;
        margin-bottom: 20px;
    }

    address a {
        width: 500px;
    }
}